[Unit]
Description=Rollator daemon for engineering-projekt-client-develop service.

[Service]
TimeoutStartSec=0
Environment="CONTAINER=fabianhauser/engineering-projekt-client-develop:latest" "SERVICE=engineering-projekt-client-develop"
ExecStartPre=/usr/bin/touch /var/lib/rollator/${SERVICE}.lockfile
ExecStart=/opt/rollator/rollator.bash /var/lib/rollator/${SERVICE}/restart /var/lib/rollator/${SERVICE}.lockfile ${CONTAINER} ${SERVICE}.service
