[Unit]
Description=engineering-projekt-server
After=docker.service
After=engineering-projekt-server-postgres.service
Before=nginx.service
Requires=docker.service
Requires=engineering-projekt-server-postgres.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill engineering-projekt-server
ExecStart=/usr/bin/docker run --rm --name engineering-projekt-server --link postgres --link nginx --env-file /etc/engineering-projekt-server.env engineering-projekt-server/engineering-projekt-server
ExecStop=/usr/bin/docker stop engineering-projekt-server

[Install]
WantedBy=multi-user.target
