[Unit]
Description=engineering-projekt-client
After=docker.service
Before=nginx.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill engineering-projekt-client
ExecStart=/usr/bin/docker run --name engineering-projekt-client fabianhauser/engineering-projekt-client
ExecStop=/usr/bin/docker stop engineering-projekt-client

[Install]
WantedBy=multi-user.target
