[Unit]
Description=Postgres
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill engineering-projekt-client-postgres
ExecStart=/usr/bin/docker run --name engineering-projekt-client-postgres postgres:9.6
ExecStop=/usr/bin/docker stop engineering-projekt-client-postgres

[Install]
WantedBy=multi-user.target
