[Unit]
Description=nginx
After=docker.service
After=engineering-projekt-client.service
#After=engineering-projekt-server.service
#After=sonarqube.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill nginx
ExecReload=docker kill -s HUP nginx
# TODO: Link engineering-projekt-server
# TODO: Link sonarqube
ExecStart=/usr/bin/docker run --rm --name nginx --link engineering-projekt-client --volume /opt/engineering-projekt-infrastructure/dehydrated:/etc/dehydrated --volume /opt/engineering-projekt-infrastructure/nginx:/etc/nginx/sites:ro --publish 80:8080 --publish 443:8443 fabianhauser/nginx-dehydrated
ExecStop=/usr/bin/docker stop nginx

[Install]
WantedBy=multi-user.target
