[Unit]
Description=Renew adit let's encrypt certificates with dehydrated

[Timer]
OnCalendar=daily
Persistent=true     

[Install]
WantedBy=timers.target
