[Unit]
Description=engineering-projekt-server-develop
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill engineering-projekt-server-develop
ExecStart=/usr/bin/docker run --rm --name engineering-projekt-server-develop fabianhauser/engineering-projekt-server-develop
ExecStop=/usr/bin/docker stop engineering-projekt-server-develop
Restart=on-failure
RestartSec=1

[Install]
WantedBy=multi-user.target
